@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $dark-blue;
  margin: 0;
}

ul[class] {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  display: block;
}

.container {
  margin-top: 80px;
}

.red {
  color: $red;
}