//Typography

$font-family: 'Poppins', sans-serif;

//Font Size {
$h1: 2.5rem;
$h2: 2.2rem;
$h3: 2rem;
$p: 1rem;
$icon: 2rem;

//Font Weights
$thin: 300;
$regular: 400;
$bold: 700;

// Colors
$white: #ffffff;
$grey: #F6F6F6;
$dark-blue: #092C48;
$light-blue: #144C79;
$mild-blue: #A3B7F9;
$red: #C70000;

//Box Shadows
$card: 0px 0px 50px 10px rgba(116, 116, 116, .25);
$card-horizontal: 20px 20px 50px 10px rgba(116, 116, 116, .25);


// Sections 
$max-width: 900px;




