@import "../abstracts/mixins";
@import "../abstracts/variables";

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8em 2.25em;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $max-width;
    text-align: center;

    @include h2-landing;


    p {
      margin: 2em 0 3em;
      font-size: 1.5rem;
      text-align: center;
    }

    .mission-btns {
      display: flex;
      justify-content: space-around;
      margin: 1em 0;
      width: 40%;

      .btn {
        margin: 0 1em;
      }
    }
  }
}
